<p>{{title}}</p>
 <!--       <p class="card-text">Ziks : {{jsonDataResult | json}}</p>
<div *ngFor="let song of jsonDataResult">
  {{song.songs.songId | json}}
</div>
"bandId": 1,
    "songId": 1,
    "title": "Stupid Girl",
    "youtubeUrl": "https://www.youtube.com/watch?v=2GhPUAVgHZc"


-->


<!-- <div class="row">
  <div class="col-md-4" *ngFor="let song of songs">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Numéro du groupe : {{song.bandId}}</h5>

        <p class="card-text">Id de la chanson : {{song.songId}}</p>
        <p class="card-text">Titre de la chanson : {{song.title}}</p>
        <p class="card-text">Titre de la chanson : {{song.youtubeUrl}}</p>

        <div>
        </div>

      </div>
    </div>

  </div>
</div>
 -->
