<div class="container-fluid HomePic" >
  <div class="row">
    <div class="col">
      <!--   <audio #audioOption>
          <source src="{{music}}" type="audio/mp3">
      </audio>
      <button (click)="launchMusic($event)">Lancer</button> -->


  <!--     <p #paragraph style="color:white">ICI LE TRUC</p>
      <button (click)="countClicks()">CLIQUER</button> -->
      <!--center;  background-size: cover; j'ai retiré style="height:400px;width:700px" de img + [routerLink]="['/view']" routerLinkActive="active"-->
      <a class="nav-link" >
        <img class="" (click)="[launchMusic($event), countClicks($event)]"  src="assets/img/reddevil.jpg"  alt="Tête de mort diabolique"></a>
    </div>
  </div>
</div>
