.example-button-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.span2{
  font-size: 20px;
  color:red;
}
.span1{
  font-size: 40px;
}
p{
  text-align: center;
}
